<div class="about-screen text-right mx-auto px-2 bg-light h-100 pt-5" style="position: absolute; bottom:0; display: none;">
    <h1 style="font-size:20px;" class="text-center">About Extension</h1>
    <hr>
    <p class="text-center text-muted">CasinoCoin gives users unprecedented speed, security, and control over their funds.</p>
    <p class="text-muted text-center"><span class="badge">Developed by: Joshua Caputo @ Be9Concepts</span></p>
    <hr>
    <button class="btn btn-default w-100 closeAbout mb-3">Done</button>
</div>
