<div class="import-screen w-100" style="display:none;">
    <div class="mx-auto px-2 w-75 pt-1 text-left bg-secodary">
            <label style="font-size:12px;">Account Address</label>
            <input class="form-control input_address" type="text">
            <label style="font-size:12px;">Account Secret</label>
            <input class="form-control input_secret" type="text">
            <label style="font-size:12px;"></label>

            <button class="btn btn-secondary w-100 mt-1" id="submitLoad">Import Wallet</button>
            <button class="btn btn-default w-100 mt-1" id="cancelLoad">Cancel</button>

    </div>
</div>