<div class="row px-2 pt-3">
    <div class="col-5">
        <img width="100%" src="assets/img/casinocoin-logo-color.png">
    </div>
    <div class="col-7 text-right">
            <span class="dropdown">
                <button style="font-size:10px" class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cog"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Tools</a>
                    <a class="dropdown-item" href="#">About Extension</a>
                    <a class="dropdown-item logOut" href="#">Log Out</a>
                </div>
            </span>
    </div>
</div>
<hr>