<div class="text-right mx-auto">
        <h1 style="font-size:20px;" class="text-center text-dark">About Extension</h1>
        <hr>
        <div class="px-2 text-center" style="font-size:18px;">
                CasinoCoin gives users unprecedented speed, security, and control over their funds.
                A typical transaction costs less than one penny and is confirmed in less than five seconds.
        </div>
        <hr>
        <div class="px-2 text-center"><a href="https://casinocoin.org/">CasinoCoin's Official Website</a></div>
        <hr>
    
        <div class=" fixed-footer">
                <hr>
                <div class="px-2 text-center">Developed by <a href="https://be9concepts.com">Be9Concepts</a></div>
                <hr>
            <div class="row px-3 pb-3">
                <div class="col-12">
                    <button class="btn btn-danger w-100 btn-confirm">Done</button>
                </div>
            </div>
        </div>
    </div>