<div class="text-right mx-auto">
    <h1 style="font-size:20px;" class="text-center text-dark">Deposit</h1>
    <hr>
    <div class="px-2">
        <div class="row text-center pt-4">
            <div class="col-12">
                <div class="mx-auto text-center" id="qr" style="height:200px;">

                </div>
            </div>
        </div>
        <input class="form-control input-address w-100 text-center mt-4" disabled="disabled" value="Account Address"></input>
    </div>
    <hr>

    <div class=" fixed-footer">
    <hr>
        <div class="row px-3 pb-3">
            <div class="col-12">
                <button class="btn btn-danger w-100 btn-confirm">Done</button>
            </div>
        </div>
    </div>
</div>