<div class="history-screen text-left mx-auto px-2" style="height:200px !important; max-height: 200px !important; overflow-y: scroll; overflow-x: hidden; display: none;">
        <span class="font-weight-bold">History</span>
        <hr>
        <div class="history-template pointer">
        <div class="row">
            <div class="col-4 my-auto text-danger"><span class="amount"></span> <small>CSC</small></div>
            <div class="col-8  my-auto"><small class="tofro">to: </small> <span class="badge badge-light address"></span> </div>
        </div>
        <hr>
    </div>
</div>