<div class="mx-auto">
        <h1 style="font-size:20px;" class="text-center text-dark">Import Existing Wallet</h1>
        <hr>
        <div class="px-2">
                <label class="font-weight-bold mt-2">Account Address</label>
                <input type="text" class="form-control w-100">
                <label class="font-weight-bold mt-2">Account Secret</label>
                <input type="text" class="form-control w-100">
        </div>
        <hr>
    
        <div class=" fixed-footer">
        <hr>
            <div class="row px-3 pb-3">
                    <div class="col-4">
                        <button class="btn btn-light w-100 btn-dismiss">Cancel</button>
                    </div>
                    <div class="col-8">
                        <button class="btn btn-danger w-100 btn-confirm">Import Wallet</button>
                    </div>
            </div>
        </div>
    </div>