<div class="main-screen text-center mx-auto " style="display:none;">
        <span class="account_address badge badge-secondary account-badge pointer"></span>
        <hr>
        <img class="carc my-2" width="25px" height="25px" src="assets/img/icon.png">
        <h1 class="text-muted font-weight-light mb-0 pb-0 mb-3"><span class="csc-balance">0</span> <small>CSC</small></h1>
        <button class="btn btn-outline-secondary w-25 mt-1 p-2" id="depositFunds">Deposit</button>
        <button class="btn btn-outline-secondary w-25 mt-1 ml-2 p-2" id="sendFunds">Send</button>
        <hr>
</div>