<div class="text-right mx-auto px-2">
    <h1 style="font-size:20px;" class="text-center text-dark">Confirm Transaction</h1>
    <div class="row text-center pt-4">
            <div class="col-5">
                    <img class="identicon1" src="https://identicons.github.com/jasonlong.png" alt="..." style="height:64px; border-radius: 50%;">
                <p style="font-size:12px;" class="address1">...</p>
            </div>
            <div class="col-2 h-100 my-auto">
                <div class="" style="width:600%; margin-left: -250%;">
                        <h5 id="paymentAmount">1234567890</h5>
                    </div>
                    <sup>CSC</sup>
                    <br>

                    <i class="fas fa-arrow-right"></i>
            </div>
            <div class="col-5">
                    <img class="identicon2" src="https://avatars0.githubusercontent.com/u/37871616?s=460&v=4" alt="..." style="height:64px; border-radius: 50%;">
                    <p style="font-size:12px;" class="address2">...</p>
                </div>        </div>
    <hr>
    <form class="h-100 text-left"style="display:none;">
        <div id="moreSettings" style="display:none;" class="pt-2">
            <div class="form-group">
                <label>Description</label>
                <input type="text" id="paymentDescription" class="form-control">
            </div>
            <div class="form-group">
                <label>Destination Tag</label>
                <input type="text" id="paymentTag" class="form-control">
            </div>
        </div>        
        <div class="btn btn-light btn-sm w-100" id="paymentButton">advanced settings</div>

    </form>
    <div class=" fixed-footer">
            <hr>
    <div class="row px-3 pb-3">
            <div class="col-4">
                <button class="btn btn-default w-100 btn-dismiss">Cancel</button>
            </div>
            <div class="col-8">
                <button class="btn btn-danger w-100 btn-confirm">Confirm</button>
            </div>
        </div>
    </div>
</div>
