<div class="settings-screen mx-auto px-2 fixed-panel bg-light pt-3">
        <h1 class="text-center font1 text-dark">Settings</h1>
        <hr>
        <div class="text-left pb-5">
            <div class="form-group">
                <label>Theme</label>
                <select class="form-control theme-input">
                    <option value="default">Default</option>
                    <option value="dark">Dark</option>
                </select>
            </div>
            <hr>
            <div class="px-3 pb-3 fixed-footer">
                <div class="row">
                    <div class="col-4">
                        <button class="btn btn-default w-100 btn-dismiss">Cancel</button>
                    </div>
                    <div class="col-8">
                        <button class="btn btn-danger w-100 btn-confirm">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>