<div class="mx-auto">
        <h1 style="font-size:20px;" class="text-center text-dark">Extension Settings</h1>
        <hr>
        <div class="px-2">
            <label class="font-weight-bold">Theme</label>
            <select class="form-control w-100">
                <option>Light</option>
                <option>Dark</option>
            </select>
        </div>
        <hr>
    
        <div class=" fixed-footer">
        <hr>
            <div class="row px-3 pb-3">
                    <div class="col-4">
                        <button class="btn btn-light w-100 btn-dismiss">Cancel</button>
                    </div>
                    <div class="col-8">
                        <button class="btn btn-danger w-100 btn-confirm">Save</button>
                    </div>
            </div>
        </div>
    </div>