body {
    overflow: hidden;
}
.pointer {
    cursor: pointer;
}
.dropdown-item {
    font-size:10px;
}
.flip {   
    transition: transform 1s;
    -webkit-animation-name: flip;
    -webkit-animation-duration: 2000ms;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite; /* The magic keyword for infinite*/
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes flip {
    0% { -webkit-transform: rotateY(0deg); }
    50% { -webkit-transform: rotateY(-180deg); }
    100% { -webkit-transform: rotateY(-360deg); }
}
.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.fixed-panel {
    position: absolute;
    top:62px; 
    width: 100%;
    height: 100%;
    display: none;
}

.font1 {
    font-size:20px;
}